<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<h1>Register page</h1>
<p style="color:red" >{{error}}</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name='first_name' placeholder="first_name"> <br>
    <input type="text" name='last_name' placeholder="last_name"> <br>
    <input type="date" name='birthdate' placeholder="birthdate"> <br>
    <select name="gender" >
      <option value=""></option>
      {% for i in gender %}
          <option value="{{i.id}}">{{i.gender}}</option>  
      {% endfor %}
    </select> <br>
    <input type="text" name='phone_number' placeholder="phone_number"> <br>
    <input type="text" name='username' placeholder="username"> <br>
    <input type="password" name='password1' placeholder="password1"> <br>
    <input type="password" name='password2' placeholder="password2"> <br>
    <input type="file" name='photo' placeholder="photo"> <br>

    <button type="submit">Sign up</button>
  </form>
</body>
</html>